:root {
    --backColorDark : #141D2F;
    --secondBackColor : #1E2A47;
    --colorDetails : #0079FF;
    --colorText : #FFF;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--colorText);
    font-family: sans-serif;
}

body{
    width: 90%;
    margin: 0 auto;
    background-color: var(--backColorDark);

}

.uppercase {
    text-transform: uppercase;
}

.top{
    display: flex;
    margin: 0;
}

.form {
    padding-top: 6px;
}

h3{
    font-size: 26px;
    font-weight: 700;
}

#light{
    background-color: transparent;
    border: 0;
    font-size: 17px;
    font-weight: 700;
    margin-right: 5px;
}

#loop{
    font-size: 20px;
    color: var(--colorDetails);
}

.recherche{
    background-color: var(--secondBackColor);
    color : var(--colorText);
    height: 60px;
    border-radius: 10px;
    text-align: center;
}

#recherche-git{
    border: 0px;
    background-color: transparent;
    width: 205px;
    height: 25px;
    font-size: 15px;
    padding-left: 10px;

}

#sumbit{
    background-color: var(--colorDetails);
    border: 0;
    border-radius: 10px;
    width: 84px;
    height: 46px;
}

.content {
    background-color: var(--secondBackColor);
    border-radius: 10px;
    margin-top: 20px;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0;
}

.petiteInfos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 20px 10px;
}

.nameGit{
    font-size: 16px;
}

.loginGit{
    font-size: 13px;
    color: var(--colorDetails);
    margin: 5px 0 7px 0;
}

.plusPetiteInfos{
    margin-left: 10px;
}

.bioGit{
    font-size: 13px;
    width: 292px;
    font-weight: 600;
    letter-spacing: 2px;
}

.divNumbers{
    background-color: var(--backColorDark);
    width: 90%;
    border-radius: 15px;
}
.divNumbers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.Repos,
.following,
.followers{
    width: 33%;
}
.Repos>p,
.following>p,
.followers>p{
    margin: 15px;
    text-align: center;
    font-weight: 600;
}

.divInfoDetails{
    width: 90%;
    margin-top: 5px;
}

.divInfoDetails>p{
    margin-top: 10px;
}